*,
html {
  margin: 0;
  padding: 0;
}
body {
  /* background-color: tomato; */
}

.container-navbar {
  background-color: green;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul-navbar {
  /* background-color: green; */
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.li-navbar {
  /* border: 1px solid white;
  background-color: rgb(24, 73, 9); */
  list-style-type: none;
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 30px;
}
.li-navbar:hover {
  background-color: yellowgreen;
  transition: 0.2s ease-in-out;
  transition-delay: 0.2s;
  border-radius: 10px;
}
.a-navbar {
  color: white;
  text-decoration: none;
}

.container-content {
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.a-content {
  background-color: white;
  color: black;
  text-decoration: none;
  font-size: 15px;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
.img-content {
  width: 50%;
  height: 65%;
}

.container-footer {
  height: 10vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hi-footer {
  font-size: 40px;
  color: white;
}
